<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @colaborador.nome %>
</p>

<p>
  <b>Matricula:</b>
  <%= @colaborador.matricula %>
</p>

<p>
  <b>Cargo:</b>
  <%= @colaborador.cargo %>
</p>


<%= link_to 'Edit', edit_colaborador_path(@colaborador) %> |
<%= link_to 'Back', colaboradors_path %>
